* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
}

/* header */

.header__menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}

.menu__logo {
  font-weight: 700;
  font-size: 2.8rem;
  color: #d6000d;
  font-style: italic;
}

.menu__logo span {
  color: black;
}

.menu__nav {
  display: flex;
  align-items: center;
}

.menu__nav li a {
  color: black;
  font-weight: 400;
  padding: 1.8rem;
}

.menu__nav li a:hover {
  color: #d6000d;
  font-weight: bold;
  opacity: 0.7;
  transition: 0.2s;
}

.menu__nav .cta__login a:hover {
  background: rgb(250, 176, 176);
  color: black;
}

.menu__nav .cta__login a {
  background: #d6000d;
  padding: 10px 40px;
  border-radius: 8px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
}

/* Orcaments */

.section__orcaments {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 6rem;
}

.orcaments__img img {
  width: 28rem;
  max-width: 100%;
}

.orcaments__informations {
  margin-top: 4rem;
}

.orcaments__informations p {
  color: black;
  font-weight: bold;
  font-size: 1.2rem;
}

.orcaments__informations span {
  display: block;
  margin-bottom: 3rem;
  font-size: 4rem;
  font-weight: bold;
  color: #d6000d;
}

.orcaments__informations a {
  background: #d6000d;
  color: #fff;
  padding: 10px 60px;
  border-radius: 0.5rem;
}

/* SEVICES */

.section__services {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 12rem 6rem;
}

.services__img img {
  width: 28rem;
  max-width: 100%;
}
.list__services {
  padding: 8rem 12rem 4rem;
}

.list__services i {
  margin-right: 1.25rem;
  color: #d6000d;
  font-size: 1.4rem;
}

.list__services li {
  display: flex;
  font-weight: 400;
  margin-bottom: 0.5rem;
  color: black;
  font-size: 1.4rem;
  line-height: 1;
}

.services__cta h1 {
  color: black;
  font-weight: bold;
  margin-bottom: 1rem;
}

.services__cta form input {
  padding: 0.625rem 1.25rem;
  background: rgb(233, 229, 229);
  color: black;
  font-size: 1.2rem;
  border: none;
  border-radius: 0.5rem;
}

.services__cta button {
  padding: 0.625rem 1.25rem;
  color: #fff;
  background: #d6000d;
  border: none;
  font-size: 1.2rem;
  border-radius: 0.5rem;
}

.services__cta button:hover {
  color: black;
  font-weight: bold;
  opacity: 0.7;
  transition: 0.2s;
  background: #ff878f;
}

.services__cta {
  padding-left: 12rem;
}

/* assessmenst */

.section__assessments {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 6rem;
}

.assessmenst {
  display: flex;
  margin: 0 auto;
  width: 36rem;
  height: 12rem;
  padding: 20px 40px;
  background: rgb(208, 208, 208);
  border-radius: 10px;
}

.assessmenst__content {
  margin-left: 2.5rem;
}

.assessmenst__content p {
  margin: 1rem 0;
  font-size: 1rem;
  font-style: normal;
  font-weight: normal;
}

.assessmenst__content h1 {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: normal;
}

.assessmenst__content span {
  font-size: 1rem;
  font-weight: bold;
  line-height: 2;
}

.assessmenst figure img {
  width: 8rem;
  height: 4rem;
  object-fit: cover; /*Em caso a imagem não se encaixar em 2px pode-se usar essa propridade*/
  clip-path: circle(); /*Propriedade para arrendondar as bordas da imagem*/
  margin-right: 2rem;
  background: #d6000d;
}

.footer__content {
  display: flex;
  width: 100%;
  background: #000000;
  padding: 2rem 1.25rem;
  margin-top: 5rem;
  color: #fff;
  justify-content: space-around;
}

.footer__logo {
  display: block;
  font-weight: 700;
  font-size: 2.8rem;
  color: #fff;
  font-style: italic;
  padding-bottom: 1rem;
}
.footer {
  margin-top: 1rem;
}

.footer h2,
p {
  font-size: 1rem;
  padding-bottom: 1rem;
}

.footer a {
  color: #fff;
  text-decoration: underline;
}

.footer .icon-icon-facebook,
.icon-icon-instagram,
.icon-icon-twitter {
  display: inline-block;
  font-size: 2rem;
  color: #d6000d;
  padding-right: 1rem;
  margin: 0 auto;
}
