* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
}

/* header */

.header__menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}

.menu__logo {
  font-weight: 700;
  font-size: 2.8rem;
  color: #d6000d;
  font-style: italic;
}

.menu__logo span {
  color: black;
}

.menu__nav {
  display: flex;
  align-items: center;
}

.menu__nav li a {
  color: black;
  font-weight: 400;
  padding: 1.8rem;
}

.menu__nav li a:hover {
  color: #fff;
  font-weight: bold;
  background: #d6000d;
  opacity: 0.7;
  transition: 0.2s;
  border-radius: 8px;
}

.menu__nav .cta__login a {
  background: #d6000d;
  padding: 10px 40px;
  border: 1px solid #d6000d;
  border-radius: 8px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
}

/* Orcaments */

.section__orcaments {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 6rem;
}

.orcaments__img img {
  width: 28rem;
  max-width: 100%;
}

.orcaments__informations {
  margin-top: 4rem;
}

.orcaments__informations p {
  color: black;
  font-weight: bold;
  font-size: 1.2rem;
}

.orcaments__informations span {
  display: block;
  margin-bottom: 3rem;
  font-size: 4rem;
  font-weight: bold;
  color: #d6000d;
}

.orcaments__informations a {
  background: #d6000d;
  color: #fff;
  padding: 10px 60px;
  border-radius: 0.5rem;
}

/* SEVICES */

.section__services {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 12rem 6rem;
}

.services__img img {
  width: 28rem;
  max-width: 100%;
}

.list__services i {
  margin-right: 20px;
  color: #d6000d;
  font-size: 1.4rem;
}

.list__services li {
  display: flex;
  font-weight: 400;
  margin-bottom: 0.5rem;
  color: black;
  font-size: 1.4rem;
  line-height: 1;
}

.services__cta h1 {
  color: black;
  font-weight: bold;
  margin-bottom: 1rem;
}

.services__cta form input {
  padding: 10px 20px;
  background: #999;
  color: black;
  font-size: 1.2rem;
  border: none;
  border-radius: 8px;
}
